:root {
    --sage: #B0D9B1;
    --bg: #001524;
    --shadow: 0 2px 2px rgba(0 0 0 / 0.5)
}

body {
    font-size: 1.2rem;
    font-family: 'STIX Two Text', serif;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/asep.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
}



.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Italianno', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: #618264;
    background-color: #D0E7D2;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: #618264;
    color: #D0E7D2;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
    overflow-x: hidden;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family: 'Italianno', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}



.mynavbar .nav-link {
    font-family: 'STIX Two Text', serif;
    font-weight: 600;
    text-align: center;
}

.home {
    background-image: url(img/abstractfloral.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: -6.5rem;
    padding-top: 17rem;
}

.home h2 {
    color: #2a462d;
    font-family: 'Italianno', cursive;
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #001524;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #2a462d;
}



/* media query */
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown > .simply-section {
        padding: 50px;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .simply-countdown > .simply-section {
        padding: 40px;
        margin: 5px;
    }
    .mynavbar .nav-link {
        font-family: 'STIX Two Text', serif;
        font-size: 1.5rem;
    }
}

/* handphone */
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }
    .simply-countdown > .simply-section {
        padding: 30px;
        margin: 3px;
    }
}
